<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- inculde('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navigation') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%- include('partials/footer') %> 
  </body>
</html>
